
#aboutMeSection { width:100%; color:white; padding:2%; margin-top:120px; font-family:helvetica;}
/*#aboutMeParagraphs { font-size:12px; }*/
#profilePic { width:50%; margin-right:2%; margin-bottom:2%; float:left; height:200px; border:1px solid white; }


/* General Table (sideways)*/
@media screen and (min-width:768px) and (min-height:500px) {
	#aboutMeSection { width:70%; padding:0%; margin:auto; margin-top:140px;}
	#profilePic { width:30%; height:180px; }
	/*#aboutMeParagraphs { font-size:12px; }*/
}

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:1024px){
	#aboutMeSection { width:80%; margin-top:200px;}
	#profilePic { width:40%; height:250px; }
}

/* Regular Laptops*/
@media screen and (min-width:1024px) {
	#aboutMeSection { width:65%; margin-top:40px;  }
	#profilePic { width:30%; }
	/*#aboutMeParagraphs { font-size:22px; }*/
}

/* Medium Laptops or Sideways Ipad Pros*/
@media screen and (min-width:1300px){
	/*#aboutMeParagraphs { font-size:18px; }*/
}

@media screen and (min-width:1400px){
	#aboutMeSection { width:55%; margin-top:40px;  }
	#profilePic { width:30%; }
}