/*	CONTACT OPTIONS	*/
	#contactQuestion { color:white;padding:2%;text-align:center; margin-top:0px; margin-bottom:5%;
						transition: font-size 0.6s ease-out, margin-bottom 0.6s ease-out, padding 0.6s ease-out; 
						-webkit-transition: font-size 0.6s ease-out, margin-bottom 0.6s ease-out, padding 0.6s ease-out; }
	#contactOptionsSection { width:100%; margin:auto; text-align:center; padding:3%; margin-bottom:2%;
							transition: padding 0.5s ease-out; -webkit-transition: padding 0.5s ease-out; }
	.contactOption  { border: 1px solid white; font-size:14px; background-color:none; color:white; padding:2%; margin:1%; 
						letter-spacing: 1px; transition: font-size 0.5s ease-out; -webkit-transition: font-size 0.5s ease-out; }
	/*.contactOption:hover {background-color:white; color:black; border:1px solid black; cursor:pointer;}*/
	

/*
GENERAL 
*/
	/* The rows and components in the form*/
	#contactFormSection { margin-top:130px; }

	.formRow { width:100%; float:left; padding-bottom:2%; margin-bottom:0%; padding-left:5%;}
	.formButton:hover { background-color:white; color:black; border:1px solid black; cursor:pointer;  }
	.requiredField::after{ content:" * "; color:red; }
	.optionalField::after{ content:" (optional) "; color:gray; }
	.inheritWidth { width:100%; }
	.customerInfoFields { width:70%; float:left; text-align:left; margin-bottom:3%; }
	.customerInfoFields input { width:100%; }

	/*The Labels and inputs*/
	.contactForm label { color:white; font-size:12px;}
	.contactForm p { color:white; }
	.contactForm p:hover { cursor:default; }
	.contactForm textarea { width:100%; }


	/*The submit button for each form */
	.submitButton {	border: 1px solid white; background-color:black; color:white; letter-spacing: 1px; }

	/*The new table form format*/
	#datetimePickerSection table tr td {padding-left:10px; border-bottom-width:10px;}
	#datetimePickerSection table tr {padding:1%;}



/*
REQUEST FORM
*/
	#requestServiceForm{ width:100%; margin:auto; display:none; padding-top:2%;}
	
	/*The section for the date and time*/
	.dateSection { width:100%;float:left;text-align:left; }
	.dateSelectorSection { width:35%; float:left; margin-right:2%;  }
	.timeSelectorSection { width:25%; float:left;  }

	/*The option to add a new date / time. */
	.addNewDateTimeSection { width:45%; float:left; padding-left:2%; }
	/*.addNewDateTimeButton { color:limegreen; font-size:12px; text-align:center; padding:0%; }
	.addNewDateTimeButton:hover { cursor:pointer; color:white; background-color:limegreen;}
*/
	.addNewDateTimeButton { color:green; font-size:22px; }
	.addNewDateTimeButton:hover { cursor:pointer; color:limegreen;}

	.addNewDateTimeButtonTooltip { visibility: hidden; width:100px; color:white;
									 font-size:16px; word-spacing:150px; position: absolute; z-index: 1; top:100%; left:10%;
									  -webkit-transition-delay: 0.7s;
									transition-delay: 0.7s;
									-webkit-transition-property: visibility; /* Safari */
								    transition-property: visibility;
								  }
	.addNewDateTimeButton:hover .addNewDateTimeButtonTooltip { visibility:visible;; cursor:pointer;}



	.removeNewDateTimeButton { color:firebrick; font-size:22px; }

	.removeNewDateTimeButton:hover { cursor:pointer; color:red;}

	.removeNewDateTimeButtonTooltip { visibility: hidden; width:100px; color:white;
									 font-size:16px; word-spacing:150px; position: absolute; z-index: 1; top:100%; left:10%;
									 -webkit-transition-delay: 0.7s;
										transition-delay: 0.7s;
									 -webkit-transition-property: visibility; /* Safari */
								    transition-property: visibility;
									}
	.removeNewDateTimeButton:hover .removeNewDateTimeButtonTooltip { visibility:visible; cursor:pointer;}
	

/*
FEEDBACK FORM
*/
	#feedbackForm{ width:100%; margin:auto; display:none; padding-top:2%;}


/* 
FORM RESULTS
*/
	#formResultsSection { color:white; text-align:center; display:none; padding-top:2%; }
	#counterSection { padding:2%; text-align:center; display:none; }
	#countDownNumber { color:red; padding:1%;}
	#formStatusSection { display:none }
	.formStatusSentence { padding:2%; }
	#formStatusSentence { font-size:22px;}
	#formStatusSentence2 { font-size:16px; }
	#successImage { width:200px; height:200px; margin-top:2%; }



/* MEDIA QUERIES */


	@media screen and (min-width:768px) and (min-height:500px){
		#contactFormSection { margin-top:150px; }

		/*Contact Options*/
		/*#contactQuestion { margin-bottom:2%; font-size:24px; }*/
		#contactQuestion { margin-bottom:2%; }
		.contactOption { font-size:18px; }

		/*GENERAL */
		.formRow { padding-left:0%; }
		.contactForm label { font-size: 14px; }
		.customerInfoFields { width:33.333%; }
		.customerInfoFields input { width:85%; }

		/*Date / Time Section*/
		.dateSection { width:90%;float:left;text-align:left; }
		/*.addNewDateTimeButton { text-align:left; padding:5%; font-size:14px; }*/
		.dateSelectorSection { width:35%;  }
		.timeSelectorSection { width:20%; }
		.addNewDateTimeSection { width:35%; }

		/*Individual Forms / Sections*/
		#requestServiceForm{ width:75%; margin:auto; padding-bottom:5%;}

		#feedbackForm{ width:75%;  margin:auto; padding-top:2%; padding-bottom:5%;}
		.formStatusSentence { padding:1%; }

		#successImage { width:300px; height:300px; margin-top:0%; }

	}
	/*iPads (mini, Air, and small pro)*/
	@media screen and (min-width:768px) and (min-height:1024px){
		#contactFormSection { margin-top:170px; }
	}

	@media screen and (min-width:1024px){
		#contactFormSection { margin-top:20px; }

		#contactQuestion { margin-bottom:1%; }
		#requestServiceForm{ width:55%; }
		#feedbackForm{ width:55%; }
		#successImage { width:350px; height:350px; }

	}
	@media screen and (min-width:1024px) and (min-height:1366px){
		#contactFormSection { margin-top:50px; }
	}


