
/*General Footer section*/
	#footer{ position:fixed; bottom:0px; width:100%; height:50px; background-color:black; }

@media screen and (min-width: 1280px){
	#footer {position:static; display:none;}
}


/*@media screen and  (min-width: 900px) { 
	#footer {position:static; display:none;}

}*/

@media screen and  (min-width: 992px) { 
	#footer {position:static; display:none;}

}

