/*#navbar { position: fixed; top:0px; width:100%; height:50px; text-align: center; background-color:black; opacity:0.7; }*/*/

/*General Navbar*/
	#navbar { width:100%; background-color:inherit; }
	a:hover { text-decoration:none; }
	/*.mobileBelowNav { margin-top:145px; }*/

	
/*The Logo Section */
	#logo-section {text-align:center; float:left;  background-color:black; }
	#logo_img { margin-top:-15px; height:120px; width:100px;}
	/*#logo_img { margin-top:-10px; height:160px; width:140px;}*/

/*Navbar Mobile Nav section*/
	.mobileNavToggle { font-size:34px; padding-top:50%; padding-left:20%; }
	#mobile-hamburger-button { display:block; color:#FFFFFF;}
	#mobile-close-button { display:none; color:#FFFFFF;}

/*Navigation Links Section*/
	#navigation-links-section { position:fixed; background-color:black; left:10px; top:10px; vertical-align: middle; 
								padding:2%; height:inherit; text-align:center; z-index:50; float:left; }

	#menu-list-section { display:none; position:fixed; padding:20%; left:0px; top:100px; width:100%; height:100%; 
						background-color:black; z-index:10; float:left;}
	.menu-list { display:block; width:30%; margin:auto; padding:1%; color:#FFFFFF; font-size:22px; margin-bottom:10%;d letter-spacing: 1px; }
	.menu-list:hover { cursor: pointer; color:white; text-decoration:none; 
						border-top:1px solid white; border-bottom:1px solid white;
						padding-top:0.5%; padding-bottom:0.5%; }

/*Navbar Social Links*/
	#navbar-social-links {display:none; height:inherit; text-align:center; padding:2%; float:left;}
	.socialBadges { margin-right:5px;}


@media screen and (min-width: 320px){

	.mobileNavToggle { font-size:22px; }
	/*#logo_img { height:120px; width:100px;}*/
	#logo_img { height:130px; width:110px;}
	#logo-section { position:fixed; top:0px; width:100%; z-index:50; }
	.menu-list { font-size:18px; }
	#menu-list-section { padding:10%; }
	.mobileBelowNav { margin-top:120px; }

}

/*Medium devices (tablets, 768px and up)*/
@media screen and  (min-width: 768px) { 
	#menu-list-section { padding:1%; }
	.menu-list { font-size:16px; width:10%; margin-bottom:5%; }
	#navigation-links-section { padding:0%; width:5%; }
	.mobileNavToggle { font-size:30px; }
}

@media screen and (min-width:1024px){
	/*#navbar { float:left; width:100%; padding:0%; }*/
	#navbar { height:120px; width:100%; margin-bottom:0.5%; }
	#logo-section { position:static; display:inline-block; width:20%; height:120px;}
	#navigation-links-section { position:static; display:inline-block; height:120px;
								width:60%; padding:0.5%; z-index:100;}
	#menu-list-section { display:inline-block; position:static; padding:0%; padding-top:3%;   }
	.menu-list { width:auto; display:inline-block; margin-right:1%; font-size:18px;
				transition: padding-top 0.2s linear 0.1s, padding-bottom 0.2s linear 0.1s, border-top 0s linear 0.1s, border-bottom 0s linear 0.1s;
				-webkit-transition: padding-top 0.2s linear 0.1s, padding-bottom 0.2s linear 0.1s, border-top 0s linear 0.1s, border-bottom 0s linear 0.1s;
	}
	#mobile-hamburger-button { display:none; }
	#mobile-close-button { display:none; }
	#navbar-social-links {display:inline-block; height:120px; width:20%;}
	.mobileBelowNav { margin-top:0%; }

}