
#albumSection { padding:auto; text-align:center; }
#albumList {width:65%; margin:auto; }
#albumTable { width:90%;  margin:auto; }
.album_cover_tr { height:150px; float:left; width:100%; margin-bottom:10%; }
.album_cover_td { width:33.333%; float:left; height:150px; padding:2%; }

.album_photos_tr { height:150px; float:left; width:100%; margin-bottom:2%; }
.album_photos_td { width:33.333%; float:left; height:150px; padding:0.5%; }

.album_image { z-index:-4; width:100%; margin:auto; height:inherit; float:left; }
.album_image:hover{ border: 1px solid white; cursor:pointer;  }

.inner { background-color:none; height:50px; width:100%; color:white;  }

.backToAlbums { border: 2px solid white; color:gray; border-radius:50px; 
				padding:1% 2%; margin-bottom:2%; margin-left:5%; display:inline-block; float:left;
				}
.backToAlbums:hover { color:white; }