body {	background-color: black; }
* { box-sizing: border-box; }

.delayedDisplay { display:none; }

.dim-portrait { width:320px; height: 500px;  }
.dim-landscape { width:750px; height: 400px; }
.dim-square { width:420px; height: 420px; }
