body {	background-color: black; }
* { box-sizing: border-box; }

.delayedDisplay { display:none; }
a:hover { text-decoration:none; }

.dim-portrait {width:60%; height:300px; border:3px solid white; }
.dim-landscape { width:100%; }
.dim-square { width:80%; }

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:1024px){

	.dim-portrait { width:320px; height: 450px; border:3px solid white; }
	.dim-landscape { width:750px; height: 450px;  }
	.dim-square { width:450px; height: 450px; }

}

@media screen and (min-width:768px) and (min-height:500px){
	.dim-portrait { width:300px; height: 350px; border:3px solid white; }
	.dim-landscape { width:650px; height: 350px;  }
	.dim-square { width:350px; height: 350px; }
}



@media screen and (min-width:1024px){ 
	.dim-portrait { width:320px; height: 450px; border:3px solid white; }
	.dim-landscape { width:750px; height: 450px;  }
	.dim-square { width:450px; height: 450px; }
}

@media screen and (min-width:1440px){  }