body {	background-color: black; }
* { box-sizing: border-box; }

.delayedDisplay { display:none; }

.dim-portrait { width:300px; height: 400px;  }
.dim-landscape { width:750px; height: 400px; }
.dim-square { width:400px; height: 400px; }
