/*Slideshow Section & Buttons*/
	/*#slideshowSection { position:fixed; top:180px; height:350px; width:50%;}*/
	#slideshowSection { margin:auto; margin-top:150px;}
	#slideshowImagesContainer { height:inherit; width:100%;}
	.slideshow_image { width:100%; height:100%; }

/*The Positions in the slideshow*/
	#slideshowNavigation { width:100%; text-align:center; height:50px; margin:auto; margin-top:3%; }

	#slideshowPositionIndicatorsSection { width:100%; text-align:center; border:none; display:block; position:static;}
	.slideshowPositionIndicator { color:white; height:20px; width:20px; display:inline-block;
							margin:1%; background-color:white; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; }
	.slideshowPositionIndicator:hover { background-color:red; cursor:pointer; }
	#slideshow_leftButton{
		display:none;
		  width: 0px; 
  			height: 0px; 
  			border-top: 15px solid transparent;
  			border-bottom: 15px solid transparent;
  			border-right:15px solid white;
  			margin-right:0%;
	}
	#slideshow_rightButton{
		display:none;
		  width: 0px; 
  			height: 0px; 
  			border-top: 15px solid transparent;
  			border-bottom: 15px solid transparent;
  			border-left: 15px solid white;
  			margin-left:0%;
	}
	
	.currentSlidePosition { color:red; background-color:red; }

/*Medium devices (tablets, 768px and up)*/
@media screen and  (min-width: 768px) and (min-height:500px) { 
	#slideshowSection {margin-top:120px;}
}

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:1024px){
	#slideshowSection { margin-top:200px; }
}

@media screen and (min-width:1024px){
	#slideshowSection {margin-top:0px;}
	#slideshowNavigation { margin-top:1%; }
	.slideshowArrow:hover { cursor:pointer; color:red; }
	.slideshowArrow { color:white; background-color:none; display:inline-block; }
	#slideshow_leftButton { display:inline-block; }
	#slideshow_rightButton { display:inline-block; }
	#slideshow_rightButton:hover { border-left-color:red; }
	#slideshow_leftButton:hover { border-right-color:red; }
	.slideshowPositionIndicator { margin-right:1%; }
}
@media screen and (min-width:1024px) and (min-height:1366px){
	#slideshowSection {margin-top:50px;}	
}

/* Medium Laptops or Sideways Ipad Pros*/
@media screen and (min-width:1300px){
	#slideshowSection {margin-top:50px;}	
}

@media screen and (min-width:1440px){
	#slideshowSection {margin-top:30px;}
}

