<!DOCTYPE html>
<html>
<head>
	<title>JF Photobiz - Contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Mon, 16 Dec 1996 4:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" type="image/png" href="/images/assets/logo/jfphotobiz_logo.png"/>
    

    <!-- BOOTSTRAP -->
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="/scripts/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/scripts/css/contact.css">
    
</head>
<body ng-app="contactForms" ng-controller="contactFormsController">
<nav id="navbar" class="navbarHeight"></nav>

<div id="contactFormSection" class="col-lg-12 hideForMobileNav mobileBelowNav mainSection" style="{{contactFormOpacity}}">
	<p id="contactQuestion" class="pageHeadlinerSize" style="{{hiddenFormQuestion}}" ng-show="!formSelected">
		What would you like to contact me about?
	</p>
	<div id="contactOptionsSection">
		<a id="requestServiceButtom" style="{{serviceStyle}}" class="contactOption formButton" data-jf-contact-option="service" ng-click="selectForm($event)" disabled="true">
			Request services
		</a>
		<a id="sendFeedbackButton" style="{{feedbackStyle}}" class="contactOption formButton" data-jf-contact-option="feedback" ng-click="selectForm($event)">
			Send feedback
		</a>
		<br/>
		<!-- -->
		<div id="formProcessingGif" ng-show="submittingForm">
			<img src="/images/assets/icons/loading.gif">
		</div>
	</div>
	<div id="formResultsSection" class="formSections" ng-show="formSubmitted && !showServiceForm && !showFeedbackForm">
		<div id="counterSection" >
			<h1>Smile in <br/> <span id="countDownNumber">3</span></h1>
		</div>
		<div id="formStatusSection">
			<p id="formStatusSentence" class="formStatusSentence"></p>
			<p id="formStatusSentence2" class="formStatusSentence"></p>
		</div>
	</div>
	<form id="requestServiceForm" class="contactForm formToSubmit formSections" ng-show="showServiceForm"  service-form></form>
	<form id="feedbackForm" class="contactForm formToSubmit formSections" ng-show="showFeedbackForm"  feedback-form></form>
</div>
</body>

	<!-- The latest AngularJS minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="/scripts/js/shared/sharedFunctions.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            sharedFunctions.loadNavBar();
        });
    </script>

	<!-- CUSTOM SCRIPTS -->
    <script type="text/javascript" src="/scripts/js/angular/apps/contactForms.js"></script>
    <script type="text/javascript" src="/scripts/js/angular/services/formServices.js"></script>

	<!-- EMAIL JS SCRIPT -->
	<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>

    <!-- STYLE & CODE FOR datePicker -->
	<!-- this should go after your </body> -->
	<link rel="stylesheet" type="text/css" href="/scripts/js/datetimepicker-master/jquery.datetimepicker.css"/ >
	<script src="/scripts/js/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>


</html>
