
/* About Me Section*/
	#aboutMeSection { width:100%; color:white; text-align:center; padding:2%; font-family:Arial; line-height:200%; }
	#subsection {  width:100%; }
	#profilePicSection { float:left; text-align:center; width:100%;  }
	#profilePicSection:after { content:''; margin-bottom: 3%; }
	#profilePic { width:45%; margin-right:2%; display:block; margin:auto; height:200px; border:1px solid white; }
	#aboutMeParagraphSection { margin:auto; width:90%; padding:2%; text-align:left;  }
	#aboutMeParagraphs { text-align: center; }

	#directLinkToRequestServices { border: 2px solid white; color:white; border-radius:40px; display:inline-block;  }
	#directLinkToRequestServices:hover { background-color:white; color:black; }

	#requestServicesContainer { clear:both; text-align:center; }

	.clearFloat { clear:both; }

/* General tablet sizes*/
@media screen and (min-width:768px) {
	#aboutMeSection { line-height:250%; text-align:left;  }
	#subsection { margin:auto;  width:95%; margin-bottom:2%; }
	#profilePicSection { width:35%;  }
	#profilePic { width:70%; height:250px; }
	#aboutMeParagraphSection { float:left; width:65%; padding:0%; }
	#aboutMeParagraphs { text-align: left; }
}

/* Regular Laptops*/
@media screen and (min-width:1024px) {
	#aboutMeSection { line-height:250%; text-align:left; }
	#subsection { margin:auto;  width:75%; margin-bottom:2%; }
	#profilePicSection { width:35%;  }
	#profilePic { width:70%; height:250px; }
	#aboutMeParagraphSection { float:left; width:65%; }
	#aboutMeParagraphs { text-align: left; }
}

/* Larger monitors */
@media screen and (min-width:1400px){
	#profilePic { width:65%;  }
}