
/*General Footer section*/
	#footer{ position:fixed; bottom:0px; width:100%; height:50px; background-color:black; }


@media screen and (min-width:320px){
	#footer { height:35px; }
	#footerFacebookBadge { height:30px; width:30px; }
	#footerInstagramBadge { height:35px; width:35px;}
}
@media screen and (min-width: 1024px){
	#footer {position:static; display:none;}
}
