

/* Welcome Message */
	#welcomeMessageSection { color:white; text-align: center; }
	#welcomeMessageSection .hideInitially { display:none; }
	#welcomeMessageImage { height:220px; width:200px; }
	#elips { display:none; color:white; }
	.extraSpace { display:none; }
	#welcomeSentence-two { color:red; }
	#enterJFPhotobiz { border: 1px solid limegreen; color:black; background-color:limegreen;
						display:flex; justify-content: center; align-content: center; margin:auto; }


/* Slideshow - Section*/
	#slideshowSection { margin:auto; margin-top:150px;}
	#slideshowImagesContainer { width:100%;height:100%; padding-top:0.5%;}


/* Slideshow - Images */
	.slideshow_image { display:none; margin:auto; }
	.selectedImage1 { display:block; }

	.dim-portrait {max-width:70%; height:350px; }
	.dim-landscape { max-width:100%; height:300px;}
	.dim-square { max-width:80%; height:300px; }

/* Slideshow - Position Indicators */

	#slideshowNavigation { width:100%; text-align:center; height:50px; margin:auto; margin-top:3%; }

	#slideshowPositionIndicatorsSection { width:100%; text-align:center; border:none; display:block; position:static;}
	.slideshowPositionIndicator { color:white; height:16px; width:16px; display:inline-block; border:1px solid white;
							margin:1%; background-color:transparent; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; }
	.slideshowPositionIndicator:hover { background-color:red; cursor:pointer; }
	#slideshow_leftButton{ display:none; width: 0px; height: 0px; border-top: 12px solid transparent;
							border-bottom: 12px solid transparent; border-right:12px solid white; margin-right:0%; }
	#slideshow_rightButton{
		display:none; width: 0px; height: 0px; border-top: 12px solid transparent; border-bottom: 12px solid transparent;
  			border-left: 12px solid white;margin-left:0%;
	}
	
	.currentSlidePosition { color:red; background-color:red; }



/* ------------------------ MEDIA QUERIES ------------------------ */

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width:768px) and (min-height:1024px){
	/* Welcome Message */
		#elips { display:inline; }


	/* Slideshow - Section */
		#slideshowSection { margin-top:200px; }

	/* Slideshow - Images */
		.dim-portrait { max-width:320px; height: 450px; }
		.dim-landscape { max-width:750px; height: 450px;  }
		.dim-square { max-width:450px; height: 450px; }
}

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:500px){
	/* Welcome Message */
		#elips { display:inline; }

	/* Slideshow - Section */
		#slideshowSection {margin-top:120px;}

	/* Slideshow - Images */
		.dim-portrait { max-width:300px; height: 350px; }
		.dim-landscape { max-width:650px; height: 350px;  }
		.dim-square { max-width:350px; height: 350px; }
}

@media screen and (min-width:1024px){ 
	/* Welcome Message */
		#elips { display:inline; }
		.extraSpace { display:inline; }


	/* Slideshow - Section */
		#slideshowSection {margin-top:0px;}

	/* Slideshow - Images */
		.dim-portrait { max-width:320px; height: 450px; display:block; margin:auto; }
		.dim-landscape { max-width:750px; height: 450px;  }
		.dim-square { max-width:450px; height: 450px; }

	/* Slideshow - Position Indicators */
		#slideshowNavigation { margin-top:1%; }
		.slideshowArrow:hover { cursor:pointer; color:red; }
		.slideshowArrow { color:white; background-color:none; display:inline-block; }
		#slideshow_leftButton { display:inline-block; }
		#slideshow_rightButton { display:inline-block; }
		#slideshow_rightButton:hover { border-left-color:red; }
		#slideshow_leftButton:hover { border-right-color:red; }
		.slideshowPositionIndicator { margin-right:1%; }

}


/* These may not be needed */
@media screen and (min-width:1024px) and (min-height:1366px){
	/*#elips:after { content:" ... "; }*/
	#slideshowSection {margin-top:50px;}	
}

/* Medium Laptops or Sideways Ipad Pros*/
@media screen and (min-width:1300px){
	#slideshowSection {margin-top:50px;}	
}

@media screen and (min-width:1440px){
	/* Welcome Message */
		#welcomeMessageSection h1
		#welcomeMessageSection h2,
		#welcomeMessageSection h3,
		#welcomeMessageSection h4 { font-size:200%; }

	/* Slideshow - Section */
		#slideshowSection {margin-top:30px;}

	/* Slideshow - Images */
		.dim-portrait { max-width:420px; height: 550px; }
		.dim-landscape { max-width:850px; height: 550px;  }
		.dim-square { max-width:550px; height: 550px; }

	/* Slideshow - Position Indicators */
		.slideshowPositionIndicator { height:26px; width:26px;  }
		#slideshow_leftButton { border-top: 18px solid transparent; border-bottom: 18px solid transparent;
								border-right: 22px solid white; }
		#slideshow_rightButton { border-top: 18px solid transparent; border-bottom: 18px solid transparent;
								 border-left: 22px solid white; }



}

