/*General Navbar*/
	#navbar { width:100%; background-color:black; }
	#navbar * { background-color:black;  }

/*The Logo Section */
	#navbar-logo-section {
		/*text-align:center; float:left; */
		display: flex; justify-content: center; align-items: center;

	}
	#logo_img { height:120px; width:100px;}
	
	/*Rule of thumb = The margin of the element just after the navbar should be the height of the image + at least 10*/
	.mobileBelowNav { margin-top:130px; }

/*Navbar Mobile Nav section*/
	.mobileNavToggle { font-size:40px;
	 /*padding-top:25%; padding-left:25%;*/
	    display: flex; justify-content: center;  align-items: center;
	    width: 80px; height: 80px; color:#FFFFFF;
     }
     .mobilNavToggle { color:#FFFFFF; text-decoration:none; }
	#navbar-mobile-hamburger-button { display:flex;}
	#navbar-mobile-close-button { display:none;}

/*Navigation Links Section*/
	#navbar-navigation-section { position:fixed; background-color:black; left:10px; top:10px; vertical-align: middle; 
								padding:1%; height:inherit; text-align:center; z-index:50; }
	#navbar-navigation-options-section { display:none; position:fixed; padding:20%; left:0px; top:120px; width:100%; height:100%; 
						background-color:black; z-index:10; float:left; }
	.navbar-navigation-option { display:block; width:30%; margin:auto; padding:1%; color:#FFFFFF; font-size:22px; margin-bottom:10%; letter-spacing: 1px; }
	.navbar-navigation-option:hover { cursor: pointer; color:white; text-decoration:none; 
						border-top:1px solid white; border-bottom:1px solid white;
						padding-top:0.5%; padding-bottom:0.5%; }

/*Navbar Social Links*/
	/*#navbar-social-links-section { display:none; height:inherit; text-align:right; padding:2%; float:right;}*/
	#navbar-social-links-section { display:none; padding:5%; position:fixed; bottom:0px; width:100%; text-align:center; z-index:100; }


	/* Tooltip container */
	.tooltipz {
	    position: relative;
	    display: inline-block;
	    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
	}
	/* Tooltip text */
	.tooltipz .tooltiptextz {
	    visibility: hidden;
	    width: 120px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 6px;	 
	    /* Position the tooltip text - see examples below! */
	    position: absolute;
	    z-index: 1;	
	    top:5%; 
	    left:90%;


	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltipz:hover { cursor:pointer; }
	.tooltipz:hover .tooltiptextz {
	    visibility: visible;
	    cursor:pointer;
	}



@media screen and (min-width: 320px){
	/*.mobileNavToggle { font-size:40px; }*/
	#logo_img { height:130px; width:110px;}
	.mobileBelowNav { margin-top:140px; }
	#navbar-logo-section { position:fixed; top:0px; width:100%; z-index:10; }
	.navbar-navigation-option { font-size:18px; }
	#navbar-navigation-options-section { padding:10%; }
	/*.mobileBelowNav { margin-top:120px; }*/
}

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:1024px){
	#logo_img { height:160px; width:140px;}
	.mobileBelowNav { margin-top:170px; }

	#navbar-navigation-options-section { margin-top:70px; }
	.mobileNavToggle { width:100px; }

}


/*Medium devices (tablets, 768px and up)*/
@media screen and  (min-width: 768px) and (min-height:500px) { 
	#navbar-navigation-options-section { padding:1%; margin-top:20px; }
	.navbar-navigation-option { font-size:16px; width:10%; margin-bottom:5%; }
	#navbar-navigation-section { padding:0%; width:5%; }
	.mobileNavToggle { width:100px; }
}

@media screen and (min-width:1024px){
	/*General Navbar*/
	#navbar { width:100%; margin-bottom:0%; 
		    display: flex;
		    justify-content: center;
		    align-items: center;
	}

	/*The Logo Section */
	#navbar-logo-section { position:static; display:inline-block; text-align:center; width:20%;}
	#logo_img { margin-top:-15px; }


	/*Navbar Mobile Nav section*/
	#navbar-mobile-hamburger-button { display:none; }
	#navbar-mobile-close-button { display:none; }

	/*Navigation Links Section*/
	#navbar-navigation-section { position:static; display:inline-block;	width:60%; padding:0%; z-index:100;  }
	#navbar-navigation-options-section {position:static;  display:inline-block; padding:0%; padding-top:3%; margin-top:0px;  }
	.navbar-navigation-option { width:15%; display:inline-block; margin-right:0%; font-size:18px;
				transition: padding-top 0.2s linear 0.1s, padding-bottom 0.2s linear 0.1s, border-top 0s linear 0.1s, border-bottom 0s linear 0.1s;
				-webkit-transition: padding-top 0.2s linear 0.1s, padding-bottom 0.2s linear 0.1s, border-top 0s linear 0.1s, border-bottom 0s linear 0.1s;
	}
	/*Navbar Social Links*/
	#navbar-social-links-section {position:static; display:flex; justify-content: left; align-items: center; width:20%; z-index:0;}
	/*#navbar-social-links-section { display:none; padding:5%; position:fixed; bottom:0px; width:100%; text-align:center; z-index:100; }*/

	.mobileBelowNav { margin-top:0%; }

	.navbarHeight { height:100px; }

}