
/* The Overall Body / Elements*/
	body {	background-color: black; }
	* { box-sizing: border-box; }
	a:hover { text-decoration:none; }
	.delayedDisplay { display:none; }
	.pageHeadlinerSize { font-size:14px;  }


/* Buttons */
	.jfButton { border-radius:50px; transition: padding 0.2s linear;}
	.jfButton:focus { outline: 0; }

	.jfButton-small { padding:0% 2%;  }
	.jfButton-small:hover { padding:0% 2.5%; }

	.jfButton-large { padding:1% 2%;}
	.jfButton-large:hover { padding:1% 3%; }

/*Images*/

	.dim-portrait {max-width:70%; height:350px; }
	.dim-landscape { max-width:100%; height:300px;}
	.dim-square { max-width:80%; height:300px; }


.circularButton { border-style: solid; border-color:white; /*padding:1% 2%;*/ /*border-radius:40px;*/
				cursor:pointer; display:inline-block; }

/*iPads (mini, Air, and small pro)*/
@media screen and (min-width:768px) and (min-height:1024px){
	/*.pageHeadlinerSize { font-size:14px; }*/

	.dim-portrait { max-width:320px; height: 450px; }
	.dim-landscape { max-width:750px; height: 450px;  }
	.dim-square { max-width:450px; height: 450px; }

}

@media screen and (min-width:768px) and (min-height:500px){
	.dim-portrait { max-width:300px; height: 350px; }
	.dim-landscape { max-width:650px; height: 350px;  }
	.dim-square { max-width:350px; height: 350px; }
}



@media screen and (min-width:1024px){ 
	.pageHeadlinerSize { font-size:16px; }
	.dim-portrait { max-width:320px; height: 450px; display:block; margin:auto; }
	.dim-landscape { max-width:750px; height: 450px;  }
	.dim-square { max-width:450px; height: 450px; }
}

@media screen and (min-width:1440px){  }