<div class="col-md-4 col-lg-2" style="padding:1%; text-align:center;">
	<!-- <a href="#" style="font-size:22px; position:absolute; left:10px; font-family:serif; color:white;">LOGO IMAGE HERE</a>	 -->
	<a href="" style="font-size:18px;">LOGO IMAGE</a>
</div>
<!-- <br/> -->
<div class="col-md-4 col-lg-8" style="height:inherit; padding:1%; text-align:center;">
	<a class="menu-list" href="./gallery/">Gallery</a>
	<a class="menu-list" href="./about/">Who is Ron?</a>
	<a class="menu-list" href="./contact/">Contact</a>
</div>
<div class="col-md-4 col-lg-2" style="height:inherit; text-align:right; padding:1%;">
    <img class="socialBadges" src="./images/badges/facebook_badge.png" style="height:32px; width:32px;">
    <img class="socialBadges" src="./images/badges/instagram_badge.png" style="height:32px; width:32px;">
</div>
