<div id="logo-section" class="col-md-4 col-lg-2" style="">
	<a href="/JF_Photography/" style="font-size:18px;">LOGO IMAGE</a>
</div>
<!-- <br/> -->
<div id="navigation-links-section" class="col-md-4 col-lg-8" style="">
	<a id="mobile-hamburger-button" class="glyphicon glyphicon-menu-hamburger"></a>
	<a id="mobile-close-button" class="glyphicon glyphicon-remove"></a>
	<div id="menu-list-section">
		<a class="menu-list" data-ron-nav-link="home" href="/JF_Photography/">Home</a>
		<a class="menu-list" data-ron-nav-link="gallery" href="/JF_Photography/gallery/">Gallery</a>
		<a class="menu-list" data-ron-nav-link="contact" href="/JF_Photography/contact/">Contact</a>
		<a class="menu-list" data-ron-nav-link="about" href="/JF_Photography/about/">About</a>
	</div>
</div>
<div id="navbar-social-links" class="col-md-4 col-lg-2">
    <a href="https://www.instagram.com/jfphotobiz/" target="_blank">
    	<img class="socialBadges" src="/JF_Photography/images/badges/instagram_logo.png" style="min-height:29px; min-width:29px; height:45px; width:45px;">
    </a>
    <a href="https://www.instagram.com/jfphotobiz/" target="_blank">
    	<img class="socialBadges" src="/JF_Photography/images/badges/facebook_badge.png" style="height:40px; width:40px;">	
    </a>
</div>
