<div id="logo-section">
	<a href="/JF_Photography/">
		<img class="socialBadges" id="logo_img" src="/JF_Photography/images/logo/jfp2.png">
	</a>
</div>
<div id="navigation-links-section">
	<a id="mobile-hamburger-button" class="glyphicon glyphicon-menu-hamburger mobileNavToggle"></a>
	<a id="mobile-close-button" class="glyphicon glyphicon-remove mobileNavToggle"></a>
	<div id="menu-list-section">
		<a class="menu-list" data-ron-nav-link="home" href="/JF_Photography/">Home</a>
		<a class="menu-list" data-ron-nav-link="portfolio" href="/JF_Photography/portfolio/">Portfolio</a>
		<a class="menu-list" data-ron-nav-link="contact" href="/JF_Photography/contact/">Contact</a>
		<a class="menu-list" data-ron-nav-link="about" href="/JF_Photography/about/">About</a>
	</div>
</div>
<div id="navbar-social-links" class="col-md-4 col-lg-2">
    <a href="https://www.instagram.com/jfphotobiz/" target="_blank">
    	<img class="socialBadges" src="/JF_Photography/images/badges/instagram_glyph.png" style="min-height:50px; min-width:50px; height:45px; width:45px;">
    </a>

</div>
