<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111602147-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      var isLiveSite = window.location.hostname == "jfphotobiz.com" ? true : false;
      if (isLiveSite){
          gtag('config', 'UA-111602147-1');
      }
    </script>
    
    <title>JF Photobiz - Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Mon, 16 Dec 1996 4:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" type="image/png" href="/images/assets/logo/jfphotobiz_logo.png"/>

    <!-- BOOTSTRAP -->
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- The latest AngularJS minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="/scripts/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/scripts/css/portfolio.css">    
</head>
<body ng-app="portfolioApp" ng-controller="portfolioController">

<div id="galleryModal" class="galleryModalElements" ng-click="closeModal()"></div>
<p id="galleryModalIndicator" class="galleryModalElements"><span id="viewingImage"></span> / {{albumLength}}</p>
<nav id="navbar" class="navbarHeight"></nav>
<div id="albumSection" class="hideForMobileNav mobileBelowNav mainSection" >
     <div id="albumTitleSection">
        <button id="backToAlbums" class="jfButton jfButton-small" ng-show="singleAlbumView" ng-click="backToAlbums()">
            <h5>&#8656; Back</h5>
        </button>
        <h2 ng-bind="albumTitle"></h2>        
    </div>
    <div id="listOfAlbums" class="portfolioListing" ng-hide="singleAlbumView">    
        <div class="portfolioListing">
            <div class="albumCover-container" ng-repeat="album in albums" ng-click="openAlbum($event)">
                <div class="albumCover-image" style="background-image:url('{{album.coverImg}}');">
                    <div class="albumCover-name">{{album.folderName}}</div>
                </div>
            </div>    
        </div>  
    </div>
    <div id="listOfPicsInAlbum" class="portfolioListing" ng-show="singleAlbumView">
        <div class="portfolioListing" >
            <div class="albumPhoto-container" ng-repeat="photo in singleAlbum">
              <album-photo class="albumPhoto-directive"></album-photo>
            </div>
        </div>
    </div>

</div>
</body>

    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/js/shared/sharedFunctions.js"></script>
    <script type="text/javascript">
        sharedFunctions.loadNavBar();
    </script>
    <script type="text/javascript" src="/scripts/js/angular/apps/portfolio.js"></script>
</html>
